.main {
  height: 43px;
  width: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  background: #27221f;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  padding: 4px 4px;
  border: 2px solid #ff6600;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 13px;
  right: 12px;
  transition: all linear 0.3s;
  z-index: 999999;
}

.main:hover {
  color: #fff;
  background: #1B7434;
  border: 2px solid #27221f;
}