.banner {
  margin-top: 100px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.bannerItem {
  position: relative;
  width: 100%;
  height: 100vh;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 41, 41, 0.68);
  z-index: 1;
}

.carouselCaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.bannerText {
  position: relative;
  z-index: 3;
}

.carouselCaption p {
  color: white;
  font-size: 32px;
  font-weight: 400;
  margin-top: 10px;
}


@media (min-width: 722px) and (max-width: 1024px) {
  .banner {
    margin-top: 78px;
  }

  .bannerItem {
    height: 40vh;
  }

  .carouselCaption p {
    font-size: 24px;
  }
}

@media (min-width: 531px) and (max-width: 721px) {
  .banner {
    margin-top: 80px;
  }

  .bannerItem {
    height: 40vh;
  }

  .carouselCaption p {
    font-size: 18px;
  }
}

@media (min-width: 320px) and (max-width: 530px) {
  .banner {
    margin-top: 88px;
  }

  .bannerItem {
    height: 30vh;
  }

  .carouselCaption p {
    font-size: 16px;
  }
}
