.bannerHead {
    color: white;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}

@media (min-width: 722px) and (max-width: 1024px) {
    .bannerHead {
        font-size: 32px;
    }
}

@media (min-width: 576px) and (max-width: 721px) {
    .bannerHead {
        font-size: 15px;
    }
}

@media (min-width: 320px) and (max-width: 575.98px) {
    .bannerHead {
        font-size: 16px;
    }
}
